/*------------------------------
=BASIC SETUP
------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*------------------------------
=BODY
------------------------------*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    background-image: url('https://www.underconsideration.com/brandnew/archives/riot_games_logo_before_after.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*------------------------------
=REGISTER
------------------------------*/
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(21, 23, 28, 0.79); /* Fondo semitransparente para el recuadro */
    max-width:max-content;
    padding: 20px;
}
.logo-img img{
    max-width: 70%;
    border-radius: 50%;
}
/*------------------------------
=REGISTER FORM
------------------------------*/
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
}
#username,#password{
    color: #373636;
}
.password-container{
    position: relative;
    display: flex;
    align-items: center;
}
.password-container i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888; /* Color del icono */
}
/*------------------------------
=LOGIN ENTER
------------------------------*/
.register-enter button {
    background: none;      /* Fondo transparente */
    border: none;          /* Sin bordes */
    padding: 0;            /* Sin espacio alrededor del icono */
    cursor: pointer;       /* Cambia el cursor a mano para indicar que es clickeable */
    font-size: 24px;       /* Ajusta el tamaño del icono */
}

.register-enter button i {
    color: #168126;        /* Ajusta el color del icono si es necesario */
}