/*------------------------------
=BASIC SETUP
------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*------------------------------
=BODY
------------------------------*/
body{
    min-height: 100vh;
    min-width: 100vw;
}
/*
.flex-two-columns {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
*/

/*------------------------------
=HEADER
------------------------------*/
header{
    position: fixed;
    width: 5%; /* Ajusta el ancho de la columna izquierda */
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(70, 71, 70, 0.5); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Aplica el desenfoque de fondo */
    padding: 5px;
}

/*
.left-column {
    position: fixed;
    width: 5%;  Ajusta el ancho de la columna izquierda 
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(70, 71, 70, 0.5);  Fondo semitransparente 
    backdrop-filter: blur(10px); /* Aplica el desenfoque de fondo 
    padding: 5px;
}
        .left-column .logo img {
            max-width: 100%;
        }
*/
/*------------------------------
=NAVIGATION BAR
------------------------------*/  
header .logo img {
    max-width: 100%;
}  
header .navbar{
    margin-top: 30px; /* Empuja la barra de navegación hacia abajo */
    margin-bottom: 30px;
    align-items: center;
}
        header .navbar ul li {
            list-style-type: none;
            margin-top: 10px; /* Empuja la barra de navegación hacia abajo */
            margin-bottom: 10px;
            position: relative; /* Necesario para posicionar el punto rojo */
        }
            header .navbar ul li a {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                border-radius: 10px;
            }
                header .navbar ul li a i {
                   color:#373636;
                }
                    header .navbar ul li a img {
                    max-width: 70%;
                    text-decoration: none;
                    }
            /* Estilos para el ícono cuando el elemento está activo */
                header .navbar ul li a.active {
                background-color: rgba(255, 253, 253, 0.79); /* Fondo semitransparente para el recuadro */
                border-radius: 8px;
                padding: 12px; /* Espaciado extra alrededor del ícono */
            }
            
            /* Punto rojo a la izquierda del elemento activo */
            header .navbar ul li a.active::before {
                content: "";
                position: absolute;
                left: -10px; /* Ajusta según el espaciado que necesites */
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                background-color: red;
                border-radius: 50%;
            }
/*------------------------------
=MAIN
------------------------------*/
.right-column{
    padding-left: 150px;
    background-color: #6b6b6c;
    min-width: 100%;
    min-height: 100%;
}
    .right-column h2 {
        font-size: 40px;
        margin: 20px;
        color: #fff;
    }  
/*------------------------------
=REGISTER
------------------------------*/
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 51, 158);

}
/*------------------------------
=LOGIN
------------------------------*/
.login{
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(10, 27, 90, 0.79); /* Fondo semitransparente para el recuadro */
    color: #f7f2f2;
}
    .logo-img img{
        max-width: 70%;
        border-radius: 50%;
    }
/*------------------------------
=LOGIN FORM
------------------------------*/
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 10px;
}
    #username,#password{
        color: #373636;
    }
.password-container{
    position: relative;
    display: flex;
    align-items: center;
}
    .password-container i {
        position: absolute;
        right: 10px;
        cursor: pointer;
        color: #888; /* Color del icono */
    }
/*------------------------------
=LOGIN SOCIAL
------------------------------*/
.login-social {
    display: flex;
    justify-content: center; /* Opcional: centra los elementos */
}
    .login-social ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 20px; /* Espacio entre los elementos */
    }
        .login-social ul li {
            display: inline-flex;
        }
            .login-social a i{
                color: #168126;
            }
/*------------------------------
=LOGIN SESION
------------------------------*/
.login-sesion{
    font-size: 18px;
}
#sesion-checkbox{
appearance: none; /* Elimina el estilo predeterminado del checkbox */
width: 18px;
height: 18px;
border: 1px solid #6e796e;  /* Borde de color */
border-radius: 4px;         /* Bordes redondeados */
position: relative;
cursor: pointer;
}
    #sesion-checkbox:checked {
        background-color: #f6f7f9;  /* Color de fondo cuando está seleccionado */
        border-color: #168126;      /* Cambia el color del borde también */
    }

        #sesion-checkbox:checked::after {
            content: '✔';               /* Añade un símbolo de verificación */
            position: absolute;
            top: -1px;
            left: 3px;
            font-size: 12px;
            color: rgb(11, 11, 11);               /* Color de la marca de verificación */
        }
/*------------------------------
=LOGIN ENTER
------------------------------*/
.login-enter button {
    background: none;      /* Fondo transparente */
    border: none;          /* Sin bordes */
    padding: 0;            /* Sin espacio alrededor del icono */
    cursor: pointer;       /* Cambia el cursor a mano para indicar que es clickeable */
    font-size: 24px;       /* Ajusta el tamaño del icono */
}

.login-enter button i {
    color: #168126;        /* Ajusta el color del icono si es necesario */
}
/*------------------------------
=LOGIN CONTENT
------------------------------*/
.login-content{
    min-width: 100%;
    min-height: 100%;
    /*padding-left: 300px;*/
    background-image: url('https://wallpaperset.com/w/full/4/e/0/534864.jpg');
    background-size: cover;           /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center;       /* Centra la imagen */
    background-repeat: no-repeat;      /* Evita que la imagen se repita */
}


/*------------------------------
=CAROUSEL
------------------------------*/

#myCarousel{
    margin: 50px;
}
.carousel-inner iframe{
    width:100%;
    height:500px;
}
.carousel-control {
    top: 50%; /* Mueve el control verticalmente al centro */
    transform: translateY(10%); /* Ajuste de alineación para centrarlo */
    height: 100px; /* Opcional: puedes ajustar la altura para que las flechas sean más grandes */
}
/*
.carousel-control span{
}
*/
.carousel-control.left,
.carousel-control.right {
    background-image: none; /* Elimina el fondo de las flechas por defecto */
    font-size: 30px; /* Aumenta el tamaño del icono de la flecha si es necesario */
    color: #fff; /* Cambia el color de las flechas si es necesario */
}

/*------------------------------
=PROMOTION
------------------------------*/
.content-list {
    margin: 40px;
}
    .cart-list {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
        .cart{
            text-align: center;
            margin: 10px;
            border-radius: 20px;
            background-color: #373636;
            width: auto; /* Ajusta el ancho de cada tarjeta */
        }
            .cart-header img{
                border-radius: 20px;
                width: 100%;
            }
            .cart-header iframe {
                width: 100%;             /* Asegura que ocupe todo el ancho del contenedor */
                height: 200px;           /* Ajusta la altura según sea necesario */
                overflow: hidden;        /* Oculta las barras de desplazamiento */
                border: none;            /* Elimina el borde del iframe */
                border-radius: 10px;     /* Opcional: ajusta el borde del iframe */
            }
            
        .cart-content{
            padding: 10px;
            text-align: left;
            min-height: 35%;
        }
            .cart-content h3{
                color: #fbf9f9;
                margin: 10px;
            }
           .cart-content p{
                color: #fbf9f9;
                margin: 10px;
                padding-right: 60px;
                font-size: 30px;

            }
                .title-game{
                    text-align: center;
                    color: #fbf9f9;
                    margin: 10px;
                }
            .cart-content .logo-game{
                float: left;
                max-width: 20%;
                margin: 10px;
            }
            .cart-content-buttons{
                display: flex;
                justify-content:space-around;
                margin: 10px;
            }
            
                .cart-content-buttons button {
                    text-align: center;
                    padding: 10px;
                    border-radius: 20%;
                    background-color:rgb(101, 100, 100);
                }
                .cart-content-buttons .primary-button {
                    background-color: #168126;
                }