<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="canonical" href="https://getbootstrap.com/docs/3.3/">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/img/Logo-puno.ico" type="image/x-icon">
    <title>Riot Games</title>
    
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/public/css/register.css" rel="stylesheet">

    <!-- Otros enlaces y configuraciones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- JQuery para cargar los partials -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Custom JS -->
    <script src="/public/js/script.js"></script>
</head>
<body>
    <!-- Start Header -->
    <div class="register">
        <div class="logo-img">
            <img src="/public/img/logo-punch-name.png" alt="Logo Riot Games whit name">
        </div>
        <form class="login-form" action="" method="get">
            <input type="text" id="username" name="username" autocomplete="username" placeholder="User Name">
            <div class="password-container">
                <input type="password" id="password" name="password" autocomplete="current-password" placeholder="Password">
                <i id="toggle-password" class="fa fa-eye" aria-hidden="true"></i>
            </div>
        </form>
        <div class="login-register">
            <a href="/"></a>
        </div>
        <div class="login-enter">
            <button type="submit" id="login-button"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <!-- End Header -->

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Bootstrap JS -->
    <script src="/public/js/bootstrap.js"></script>
</body>
</html>