<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/">
    <!-- Search info about this meta -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/img/Logo-puno.ico" type="image/x-icon">

    <!-- Title -->
    <title>Riot Games</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/public/css/styles.css" rel="stylesheet">

    <!-- Otros enlaces y configuraciones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- JQuery para cargar los partials -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Custom JS -->
    <script src="/public/js/script.js"></script>
</head>
<body>
    <!-- Start Navigation Bar -->
    <div id="navbar-section"></div>
    <!-- End Navigation Bar -->


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Load local for jquery down https -->
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->

    <!-- Bootstrap JS -->
    <script src="/public/js/bootstrap.js"></script>
</body>

</html>