<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/img/Logo-puno.ico" type="image/x-icon">
    <title>Riot Games</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/styles.css" rel="stylesheet">

    <!-- Otros enlaces y configuraciones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- JQuery para cargar los partials -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Custom JS -->
    <script src="/public/js/script.js"></script>
</head>

<body>
    <div class="flex-two-columns">
        <!-- Start Navigation Bar -->
            <div id="navbar-section"></div>
        <!-- End Navigation Bar -->

        <!-- Start Main Content -->
        <main class="right-column-client-lol">
            <!-- Start LOL Client Content -->
            <div class="client">
                <div class="body-client">
                    <img src="/public/img/banner-lol-removebg-preview.png" alt="">
                    <div class="body-client-buttons">
                        <button type="button" class="body-btn-play btn-lg"><i class="fa-solid fa-circle-play"></i>Play</button>
                        <button type="button" class="dropdown-toggle btn-default"><i class="fa-solid fa-caret-down"></i></button>
                    </div>
                </div>
                <div></div>
                <div></div>
            </div>
            <!-- End Promotion Content -->
        </main>
        <!-- End Main Content -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Bootstrap JS -->
    <script src="/public/js/bootstrap.js"></script>
</body>

</html>