<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/img/Logo-puno.ico" type="image/x-icon">
    <title>Riot Games</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/styles.css" rel="stylesheet">

    <!-- Otros enlaces y configuraciones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- JQuery para cargar los partials -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Custom JS -->
    <script src="/public/js/script.js"></script>
</head>

<body>
    <div class="flex-two-columns">
        <!-- Start Navigation Bar -->
            <div id="navbar-section"></div>
        <!-- End Navigation Bar -->

        <!-- Start Main Content -->
        <main class="right-column">
            <!-- Start Promotion Content -->
            <div class="content-list">
                <h2>Mis juegos</h2>
                <div class="cart-list">
                    <div class="cart">
                        <div class="cart-header">
                            <a href="/templates/leagueoflegends.html"><img
                                    src="https://giffiles.alphacoders.com/219/219802.gif" alt="Gif Game"></a>
                        </div>
                        <div class="cart-content">
                            <img class="logo-game" src="/public/img/logo-league-of-legends.png" alt="logoGame">
                            <p class="title-game">League of Legends</p>
                        </div>
                    </div>

                    <div class="cart">
                        <div class="cart-header">
                            <a href="/templates/valorant.html"><img
                                    src="https://i.makeagif.com/media/8-06-2022/v3R9MU.gif" alt="Gif Game"></a>
                        </div>
                        <div class="cart-content">
                            <img class="logo-game" src="/public/img/logo-valorant.png" alt="logoGame">
                            <p class="title-game">Valorant</p>
                        </div>
                    </div>

                    <div class="cart">
                        <div class="cart-header">
                            <a href="/templates/tft.html"><img src="https://giffiles.alphacoders.com/218/218763.gif"
                                    alt="Gif Game"></a>
                        </div>
                        <div class="cart-content">
                            <img class="logo-game" src="/public/img/logo-tft.png" alt="logoGame">
                            <p class="title-game">Timfight Tactics</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Promotion Content -->
        </main>
        <!-- End Main Content -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Bootstrap JS -->
    <script src="/public/js/bootstrap.js"></script>
</body>

</html>